<footer>

      <div>
          <p style="text-align: center">
        <a href="https://analyticsengineering.net/mailman/listinfo/wranglers">Subscribe to Analytics Engineering Mailing List</a>
      </p>
      <p style="text-align: center">
        <a href="https://archive.analyticsengineering.net/2024/thread.html">Analytics Engineering Mailing List Archive</a>
      </p>
      <p style="text-align: center">
            <a href="https://archive.analyticsengineering.net/what-is-the-difference-between-logical-modelling-and-conceptual-modelling-and-physical-modelling.html#conceptual-modeling">Conceptual Modelling</a> | 
            <a href="https://archive.analyticsengineering.net/what-is-the-difference-between-logical-modelling-and-conceptual-modelling-and-physical-modelling.html#logical-modeling">Logical Modelling</a> | 
            <a href="https://archive.analyticsengineering.net/what-is-the-difference-between-logical-modelling-and-conceptual-modelling-and-physical-modelling.html#physical-modeling">Physical Modelling</a>
      </p>
      </div>
    
</footer>
